:root {
	--day-100: #F4FCFB;
	--day-200: #E3F7F5;
	--day-300: #D1F2EF;
	--day-400: #AFE8E3;
	--day-500: #8DDED7;
	--day-600: #7FC8C2;
	--day-700: #558581;
	--day-800: #3F6461;
	--day-900: #2A4341;

	/* --blue-100: #EEF1FA;
	--blue-200: #D5DDF2;
	--blue-300: #BBC9EB;
	--blue-400: #88A0DB;
	--blue-500: #5577CC;
	--blue-600: #4D6BB8;
	--blue-700: #33477A;
	--blue-800: #26365C;
	--blue-900: #1A243D; */
}

body {
	background-color: #263238;
	color: var(--day-100);
}

header {
	display: flex;
}

h1 {
	font-size: 3em;
	color: var(--day-100);
}

a {
	color: var(--day-100);
	text-decoration: none;
}

section {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 40%;
}

svg {
	padding: 1em;
	width: 10%;
}

#toggle {
	background-color: #1D262A;
	border-radius: 20em;
	display: inline-flex;
}

#toggle img {
	padding: .5em;
	height: 2em;
}

#can {
	transition: transform .5s ease-in-out;
}

#can:hover #open {
	animation: open-can 1s;
}

#open {
	transform: rotate(0deg);
	transform-box: fill-box;
	transform-origin: center right;
}

.cls-1 {
	fill: #c8d3da;
}

.cls-1,
.cls-2 {
	fill-rule: evenodd;
}

.cls-2 {
	fill: #abbee3;
}

#soju {
	transform: rotate(0deg);
}

#soju:hover {
	animation: soju 1s;
	animation-iteration-count: infinite;
}

.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#9CD539;}
.st1{fill-rule:evenodd;clip-rule:evenodd;fill:#68D539;}
.st2{fill-rule:evenodd;clip-rule:evenodd;fill:#D56139;}
.st3{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}

@keyframes open-can {
    0% {
		transform: rotate(0deg);
    }
  
    50% {
		transform: rotate(100deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes soju {
    0% {
		transform: rotate(0deg);
    }

    50% {
        transform: rotate(-20deg);
	}

	100% {
		transform: rotate(0deg);
    }
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #263238;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-color: var(--day-100);
	}
	h1 {
		color: var(--day-900);
	}
}

body:target {
	background-color: var(--day-100);
}

body:target a {
	color: var(--day-900);
}

body:target #can:hover #open {
	animation: none;
}

body:target #soju:hover {
	animation: none;	
}

body:target #soju *, body:target #can * {
	fill: var(--day-700);
}

body:target h1 {
	color: var(--day-900);
}

body:target #soju, body:target #can {
	cursor: not-allowed;
}